<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Ingredient List</title>
</head>
<body>
    <h1>Current Ingredient List</h1>
    <div>
        <p>Ingredient List:
            <table>
                <% for (var i=0; i < response.length; i++) { %>
                    <tr>
                        <td><%= response[i].ingredient %></td>
                        <td><%= response[i].expiration_month %></td>
                        <td><%= response[i].expiration_day %></td>
                        <td><%= response[i].expiration_year %></td>
                    </tr>
               <% } %>
            </table>
        </p><br><br>

        Click here to add an ingredient. <button type=button onclick="window.location.href='/add_ingredients.html'">Add ingredients</button> <br><br>
        Click here to refresh ingredient list. <button type=button onclick="window.location.href='/check_ingredients.html'">Refresh List</button>
        
    </div>
</body>
</html>