<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Ingredient List</title>
</head>
<body>
    <h1>Current Ingredient List</h1>
    <div>
        <p>Ingredient List:
            <%= parameters %>
        </p><br><br>

        Click here to add an ingredient. <button type=button onclick="window.location.href='/add_ingredients.html'">Add ingredients</button>

        
    </div>
</body>
</html>